<div class="container text-center d-flex justify-content-center">
<p><% @random_letters.each do |letter| %></p>
<p class="btn btn-info m-2"><%= letter %></p>
<p><% end %></p>
</div>

<div class="container text-center d-flex justify-content-center">
<p>What is the longest word you can find?</p>
</div>

<div class="container text-center d-flex justify-content-center">
<form action="/score" method="post" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @random_letters %>
  <input type="text" name="word">
  <div><input type="submit" value="PLAY" class="btn btn-primary btn m-2"></div>
</form>
</div>
